<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game of Life</title>

    <style>
        body {
            background-color: lavender;
        }

        .test {
            border-style: solid;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>Welcome to Game of Life</h1>

    <form th:action="@{/createBoard}">
        <label>Row:</label>
        <input type="number"/>
        <br/>
        <label>Column:</label>
        <input type="number"/>
        <br/>
        <input type="submit" value="Generate Board"/>
    </form>

    <div class="test">
        <h1>Generate board here</h1>
    </div>

    <button>Start Game</button>
    <button>Stop Game</button>
    <button>Clear</button>
</div>
</body>
</html>